@font-face {
  font-family: "LibreFranklin-Bold";
  font-weight: 600;
  font-style: normal;
  src: local("LibreFranklin-Bold"),
    url(../fonts/Libre_Franklin/LibreFranklin-Bold.woff2),
    url(../fonts/Libre_Franklin/LibreFranklin-Bold.woff);
  font-display: swap;
}
@font-face {
  font-family: "LibreFranklin-Light";
  font-weight: 300;
  font-style: normal;
  src: local("LibreFranklin-Light"),
    url(../fonts/Libre_Franklin/LibreFranklin-Light.woff2),
    url(../fonts/Libre_Franklin/LibreFranklin-Light.woff);
  font-display: swap;
}
@font-face {
  font-family: "LibreFranklin-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("LibreFranklin-Regular"),
    url(../fonts/Libre_Franklin/LibreFranklin-Regular.woff2),
    url(../fonts/Libre_Franklin/LibreFranklin-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: "SourceSerif4-Bold";
  font-weight: 600;
  font-style: normal;
  src: local("SourceSerif4-Bold"),
    url(../fonts/Source_Serif_4/SourceSerif4-Bold.woff2),
    url(../fonts/Source_Serif_4/SourceSerif4-Bold.woff);
  font-display: swap;
}
@font-face {
  font-family: "SourceSerif4-Light";
  font-weight: 300;
  font-style: normal;
  src: local("SourceSerif4-Light"),
    url(../fonts/Source_Serif_4/SourceSerif4-Light.woff2),
    url(../fonts/Source_Serif_4/SourceSerif4-Light.woff);
  font-display: swap;
}
@font-face {
  font-family: "SourceSerif4-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("SourceSerif4-Regular"),
    url(../fonts/Source_Serif_4/SourceSerif4-Regular.woff2),
    url(../fonts/Source_Serif_4/SourceSerif4-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: "TenorSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("TenorSans-Regular"),
    url(../fonts/Tenor_Sans/TenorSans-Regular.woff2),
    url(../fonts/Tenor_Sans/TenorSans-Regular.woff);
  font-display: swap;
}
