// $accent: #fe3e57;
// $defoult: #8d8d8d;
// $title: #29282d;
// $bg: #f6f6f6;
// $border: #ececec;

%lf-300 {
  font-family: "LibreFranklin-Light", sans-serif;
  font-weight: 300;
}

%lf-400 {
  font-family: "LibreFranklin-Regular", sans-serif;
  font-weight: 400;
}

%lf-600 {
  font-family: "LibreFranklin-Bold", sans-serif;
  font-weight: 600;
}

%ss-300 {
  font-family: "SourceSerif4-Light", sans-serif;
  font-weight: 300;
}

%ss-400 {
  font-family: "SourceSerif4-Regular", sans-serif;
  font-weight: 400;
}

%ss-600 {
  font-family: "SourceSerif4-Bold", sans-serif;
  font-weight: 600;
}

%ts {
  font-family: "TenorSans-Regular", sans-serif;
  font-weight: 400;
}

// %btn{
//     cursor: pointer;
//     padding: 12px 36px;
//     width: fit-content;
//     text-transform: uppercase;
//     color: #ffffff;
//     @extend %roboto-400;
//     background-color: $accent;
//     border: 1px solid transparent;
//     box-shadow: 7px 7px 20px #fe3e575e;
//     &:hover {
//             background-color: #ff0021;
//             border: 1px solid #ffffff;
//         }
// }

// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }
