%lf-300 {
  font-family: "LibreFranklin-Light", sans-serif;
  font-weight: 300;
}

%lf-400 {
  font-family: "LibreFranklin-Regular", sans-serif;
  font-weight: 400;
}

%lf-600 {
  font-family: "LibreFranklin-Bold", sans-serif;
  font-weight: 600;
}

%ss-300 {
  font-family: "SourceSerif4-Light", sans-serif;
  font-weight: 300;
}

%ss-400 {
  font-family: "SourceSerif4-Regular", sans-serif;
  font-weight: 400;
}

%ss-600 {
  font-family: "SourceSerif4-Bold", sans-serif;
  font-weight: 600;
}

%ts {
  font-family: "TenorSans-Regular", sans-serif;
  font-weight: 400;
}
