@import "vars";
@import "fonts";
@import "reset.scss";
@import "libs.scss";
@import "global";

.header {
  &__inner {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    width: 135px;
    height: 17px;
  }
  &__nav {
    &-list {
      display: flex;
      gap: 42px;
    }
    &-link {
      text-shadow: 0 4px 4px #00000040;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ----------------------------------- WELCOME -------------------------

.welcome {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 32px;
  }
  &-img {
    max-width: 60%;
    margin-right: 36px;
  }
  &__info {
    max-width: 428px;
    &-title {
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      margin-bottom: 32px;
    }
    &-text {
      color: #666666;
      @extend %ss-400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }
}

// ----------------------------------- WELCOME END -------------------------

// ----------------------------------- PHOTO -------------------------

.photo {
  &__inner {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 64px;
  }
  &__item {
    padding: 10px;
    width: 33%;
    height: 480px;
    &-img {
      margin-bottom: 24px;
    }
  }
}

// ----------------------------------- PHOTO END -------------------------

// ----------------------------------- POSTS -------------------------

.posts {
  &__inner {
    display: flex;
    padding: 60px 0;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    padding: 20px 10px;
    width: 24%;
    height: 388px;
    &-img {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}

// ----------------------------------- POSTS END -------------------------

// ----------------------------------- FOOTER -------------------------

.footer {
  background-color: #000000;
  color: #ffffff;
  &__inner {
    padding: 90px 0;
  }
  &__right {
    display: flex;
    align-items: end;
    margin-bottom: 58px;
    &-img {
      width: 135px;
      height: 17px;
      margin-right: 12px;
    }
    &-text {
      color: #666666;
      font-size: 12px;
      line-height: 10px;
      text-transform: uppercase;
    }
  }
  &-line {
    width: 100%;
    height: 1px;
    background-color: #4d4d4d;
    margin-bottom: 58px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    &-wraper {
      width: 65%;
    }
    &-list {
      display: flex;
      justify-content: space-between;
    }
    &-categories {
      margin-bottom: 72px;
    }
    &-link {
      display: block;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__subscribe {
    &-form {
      display: flex;
    }
    &-input {
      width: 220px;
      height: 48px;
      padding-left: 20px;
      font-size: 10px;
      line-height: 12px;
      &::placeholder {
        text-transform: uppercase;
      }
    }
    &-btn {
      width: 80px;
      height: 48px;
      color: #ffffff;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        border: 1px solid #4d4d4d;
      }
    }
  }
}

// ----------------------------------- FOOTER END ---------------------

@import "media";
